<IfModule mod_rewrite.c> 

 RewriteEngine On

 RewriteRule ^announce announce.php 
 RewriteRule ^scrape   scrape.php  

</IfModule>

SetEnvIfNoCase User-Agent "^Mozilla|^Opera|^Links|^Lynx" WebBrowser
Deny from env=WebBrowser